.icd__card {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.2),
    -4px -4px 4px 0 rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    min-height: 4rem;
    width: 500px;
    margin: 10px 0;
    /* position: relative; */
}

.icd__card-delete {
    height: 30px;
    align-self: center;
    margin-right: 25px;
}

.icd__card:hover {
    cursor: pointer;
}

.icd__cardheader {
    /* display: flex; */
    align-self: center;
    margin-left: 10px;
    justify-content: space-between;
    font-family: 'Arvo' !important;
    font-size: 20px;
    height: fit-content;
}