
.textarea__component textarea {
    color: black;
    font-size: 20px;
    font-family: 'Arvo' !important;
}

.textarea__component textarea {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: rgb(248, 248, 248);
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2),
    4px 4px 2px 0 rgba(255, 255, 255, 0.5);
    color: black;
    border: none;
    border-radius: 15px;
    padding: 20px 20px;
    margin: 15px;
    width: 40vw;
}

.textarea__component textarea:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.textarea__component textarea:focus {
    outline: none;
}

.k-label {
    font-family: 'Arvo';
}

.desc__button {
    background-color: #ff6fa5;
    box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.2),
    -4px -4px 8px 0 rgba(255, 255, 255, 0.5) !important;
    color: white;
    font-size: 20px;
    border: none;
    padding: 20px 10px;
    margin: 10px 15px 0 15px;
    border-radius: 10px;
}